node_modules/
/DeezPDF/
dist/
build/
logs/
.deezpdfreader.lock
.DS_Store
*.log
.env
.env.*
Thumbs.db
DeezPDFReader.exe
*.local

# Xcode user-specific files
ios/App/App.xcodeproj/xcuserdata/
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/
ios/App/Pods/
*.xcuserstate
